# Development | Production
ASPNETCORE_ENVIRONMENT=

ConnectionStrings__DefaultConnection=

Redis__ConnectionString=

Kafka__BootstrapServers=

Kafka__Topics__AccountEvents=
Kafka__Topics__TransactionEvents=

RateLimiting__Enabled=
RateLimiting__FailOpen=
